
*.pyc
*~
__pycache__/
.pytest_cache/
*.so
*.o
*.a

.vscode/
.idea/
.project
.pydevproject
.settings/
*.swp
*.swo

*.bag
*.mcap
*.db3
*.pbstream
*.pgm
*.yaml.bin
*.pcd
*.ply
*.stl
*.dae

*.log

.DS_Store
Thumbs.db
core
